$font-family-monospace:     'IBM Plex Mono', monospace;
$font-family-sans-serif:    'IBM Plex Sans', sans-serif;
$font-family-serif:         'IBM Plex Serif', serif;

$font-weight-light:          300;
$font-weight-normal:         400;
$font-weight-medium:         500;
$font-weight-bold:           700;

$base-font-family:           $font-family-sans-serif;
$base-font-size:             1rem;
$base-font-weight:           $font-weight-normal;
$base-line-height:           1.5;

